{
  "env": {
    "node": true,
    "es2022": true,
    "jest": true
  },
  "ignorePatterns": ["public/javascripts/*.min.js"],
  "extends": ["eslint:recommended", "plugin:node/recommended"], //coding rules - eslint
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "overrides": [
    {
      "files": ["public/javascripts/*.min.js", "public/stylesheets/*.min.css"],
      "rules": {
        "eslint-disable": "off"
      }
    }
  ],
  "rules": {
    "spaced-comment": "off",
    "no-console": "warn",
    "consistent-return": "off",
    "func-names": "off",
    "object-shorthand": "off",
    "no-process-exit": "off",
    "no-param-reassign": "off",
    "no-return-await": "off",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "prefer-destructuring": ["error", { "object": true, "array": false }],
    "no-unused-vars": ["error", { "argsIgnorePattern": "req|res|next|val" }],
    "no-duplicate-imports": "error",
    "node/no-unsupported-features/es-syntax": ["error", { "ignores": ["modules"] }],
    "no-var": "error",
    "eqeqeq": "warn",
    "prettier/prettier": ["error", { "singleQuote": true, "endOfLine": "auto" }]
  }
}
