{
  "singleQuote": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "trailingComma": "all",
  "arrowParens": "always",
  "ignore": ["public/javascripts/spectaql.min.js"]
}
